
    /*
    Name: Joe Barrett
    Date Created: 11.18.20
    Most Recent Version: 12.08.20
    */

    body {
        background-color: rgb(53, 175, 42);
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    a:hover {
        color: black;
        font-weight: initial;
    }

    header {
        text-align: center;
        background-color: #eee;
    }

    h2 {
        text-align: center;
    }

    footer {
        text-align: center;
    }
